[Unit]
Description=mcw

[Service]
SuccessExitStatus=0 1
Restart=on-failure
WorkingDirectory=/home/mc/web/
ExecStart=/usr/bin/npm start

[Install]
WantedBy=default.target

